<section class="wine-details">
    <h1 class="wine-details__name" >{{ctrl.wine.name()}}</h1>

    <div class="wine-details__data-list">
        <div class="wine-details__data-list-row">
            <div class="wine-details__data-list-label">Year</div>
            <div class="wine-details__data-list-value">{{ctrl.wine.year()}}</div>
        </div>
        <div class="wine-details__data-list-row">
            <div class="wine-details__data-list-label">Rating</div>
            <div class="wine-details__data-list-value">{{ctrl.wine.rating()}}</div>
        </div>
        <div class="wine-details__data-list-row">
            <div class="wine-details__data-list-label">Retail price</div>
            <div class="wine-details__data-list-value">{{ctrl.wine.retailPrice()}}</div>
        </div>
    </div>
</section>