.wine-details {
  padding: $gutter;
  padding-top: $mobile-header__height + $gutter;
}

.wine-details__name {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: $gutter;
}

.wine-details__data-list {

}

.wine-details__data-list-row {
  display: flex;
  padding-bottom: 5px;
}

.wine-details__data-list-label {
  flex-basis: 100px;
  font-weight: bold;
}

.wine-details__data-list-value {
  font-weight: 100;
}


.details-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  //transition: transform 0.5s ease-in-out;
  /* transform: translateY(100%); */
  z-index: +1;

  &:empty {
	visibility: hidden;
  }

  &.ng-enter {
	transition: transform .5s ease-in-out;
	transform: translateX(100%);
  }

  &.ng-enter-active {
	transform: translateX(0);
  }

  &.ng-leave {
	transition: transform .5s ease-in-out;
	transform: translateX(0);
  }

  &.ng-leave-active {
	transform: translateX(100%);
  }
}


